<html>
<head>
	<style type=""text/css"">
		html { font-family: consolas, tahoma, helvetica; font-size: 16px; }
		.small { font-size: 14px; }
		.smaller { font-size: 12px; }
		ul li { list-style: none; }
	</style>
</head>
<body>
<a href="@Model.Repository.Url/commits/@Model.Branch">@Model.Repository.Url/commits/@Model.Branch</a><br />
<br />
@foreach(var commit in Model.Commits) {
	<a href="@commit.Url">@commit.Id.Substring(0, 7)</a> <span class="small">@commit.Author.Name, @commit.Timestamp.ToShortDateString() @commit.Timestamp.ToShortTimeString()</span><br />
	@commit.Message.Replace("\n", "<br/>")
	<ul>
	@foreach (var file in commit.Files) {
		<li>@file.Action.Substring(0, 1)  @file.File</li>
	}
	</ul>
	<br />
}
<br />
</body>
</html>
